html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  color: #00ffcc;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;        /* Makes sure content is arranged vertically */
  justify-content: space-between; /* Pushes content to top and footer to bottom */
  align-items: center;          /* Centers content horizontally */
  height: 100vh;
}

.clock {
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 200, 0.4);
}

#time {
  font-size: 80px;
  text-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffff;
  letter-spacing: 2px;
}

#date {
  margin-top: 15px;
  font-size: 20px;
  color: #e0f7fa;
  text-shadow: 0 0 10px #00ffff;
}

footer{
  text-align:center;
  padding:14px 10px;
  color:rgba(255,255,255,0.95);
  font-size:0.9rem;
  background:transparent;
